body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(183, 183, 183);
  margin: 0;
  padding: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  padding: 20px;
}
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px;
  background-color: #2d8ff7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #037af9;
}

#toggleSignup {
  background-color: #dc3545;
  margin-top: 10px;
}
#toggleSignup:hover {
  background-color: #ff0019;
}
#toggleLogin {
  background-color: #dc3545;
  margin-top: 10px;
}
#toggleLogin:hover {
  background-color: #ff0019;
}

.container1 {
  background-color: #ffffff;
  height: 130vh;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ff4155;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-left: 6rem;
  padding-right: 10px;
}
.icon h1 {
  padding-left: 10px;
}

.icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logout {
  color: #ff4155;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ff4155;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 6rem;
}
.logout:hover {
  background-color: #f96473;
  color: #fff;
}
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 20px 0px 20px;
  justify-content: space-evenly;
}

.addTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 300px;
  max-height: 300px; /* Maximum height for the "Add Task" div */
  flex-direction: column;
  flex: 0.5;
  flex-grow: unset;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#title {
  width: 20rem;
  height: 2rem;
}
#description {
  width: 21rem;
  height: 5rem;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.addTask input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.taskList {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0.5; /* This value controls the width of .taskList. It will occupy the remaining available space after accounting for .addTask's width. */
  padding: 15px;
  flex: 0 0 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.completedTasks {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  flex: 0.5; /* This value controls the width of .completedTasks. It will occupy the remaining available space after accounting for .addTask's width. */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.delete,
.edit,
.done {
  float: right;
  background-color: #ff4155;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.delete:hover {
    background-color: #ef0018;
    color: #fff;
}
.edit:hover {
    background-color: #ef0018;
    color: #fff;
}
.done:hover {
    background-color: #ef0018;
    color: #fff;
}
.title {
  font-weight: 900;
}

.taskList h2,
.completedTasks h2 {
  margin-bottom: 10px;
}
#addButton {
  margin-top: 10px;
  background-color: #ff4155;
}
#addButton:hover {
    background-color: #ef0018;
    color: #fff;
}
.taskList {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.taskList h2 {
  margin-bottom: 10px;
}

.taskList ul {
  list-style: none;
  padding: 0;
}

.listItems {
  width: 30rem;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 3px 9px 5px 5px;
  margin-bottom: 10px;
  word-break: break-all;
  overflow: scroll;
}
.listItems .buttons {
  display: flex;
  gap: 5px;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .container1 {
    flex-direction: column;
    width: 100%;
    height: 150vh;
  }
  #title {
    width: 10rem;
  }
  #description {
    width: 12rem;
    margin-bottom: 5px;
  }

  .items {
    flex-direction: column; /* Stack elements vertically */
  }

  .addTask,
  .taskList,
  .completedTasks {
    margin-bottom: 20px;
  }

  .taskList,
  .completedTasks {
    padding: 10px;
  }
  .listItems {
    width: 14rem; /* Set the width to 100% for screens with a maximum width of 480px */
    padding: 3px 39px 5px 5px;
  }
  .logout {
    margin: 0rem 0rem 0rem 9rem;
  }
}
